@font-face {
	font-family: 'ProximaNovaRegular';
	src: url("../fonts/ProximaNovaRegular.eot");
	src: url("../fonts/ProximaNovaRegular.eot") format('embedded-opentype'), url("../fonts/ProximaNovaRegular.woff2") format('woff2'), url("../fonts/ProximaNovaRegular.woff") format('woff'), url("../fonts/ProximaNovaRegular.ttf") format('truetype'), url("../fonts/ProximaNovaRegular.svg#ProximaNovaRegular") format('svg')
}

@font-face {
	font-family: 'ProximaNovaSimibold';
	src: url("../fonts/ProximaNovaSimibold.eot");
	src: url("../fonts/ProximaNovaSimibold.eot") format('embedded-opentype'), url("../fonts/ProximaNovaSimibold.woff2") format('woff2'), url("../fonts/ProximaNovaSimibold.woff") format('woff'), url("../fonts/ProximaNovaSimibold.ttf") format('truetype'), url("../fonts/ProximaNovaSimibold.svg#ProximaNovaSimibold") format('svg')
}

@font-face {
	font-family: 'ProximaNovaLight';
	src: url("../fonts/ProximaNovaLight.eot");
	src: url("../fonts/ProximaNovaLight.eot") format('embedded-opentype'), url("../fonts/ProximaNovaLight.woff2") format('woff2'), url("../fonts/ProximaNovaLight.woff") format('woff'), url("../fonts/ProximaNovaLight.ttf") format('truetype'), url("../fonts/ProximaNovaLight.svg#ProximaNovaLight") format('svg')
}

@font-face {
	font-family: 'ProximaNovaBold';
	src: url("../fonts/ProximaNovaBold.eot");
	src: url("../fonts/ProximaNovaBold.eot") format('embedded-opentype'), url("../fonts/ProximaNovaBold.woff2") format('woff2'), url("../fonts/ProximaNovaBold.woff") format('woff'), url("../fonts/ProximaNovaBold.ttf") format('truetype'), url("../fonts/ProximaNovaBold.svg#ProximaNovaBold") format('svg')
}

@font-face {
	font-family: 'NunitoSansBold';
	src: url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap")
}

a:hover {
	text-decoration: none;
	color: #fff
}

* {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	box-sizing: border-box
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none
}

.slick-slider .slick-track:focus,
.slick-slider .slick-list:focus {
	border-color: #ed9826
}

.form-control:focus {
	border-color: #ed9826;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(237, 152, 38, 0.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(237, 152, 38, 0.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(237, 152, 38, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(237, 152, 38, 0.6);
	-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(237, 152, 38, 0.6);
	-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(237, 152, 38, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(237, 152, 38, 0.6)
}

body {
	color: #373737;
	font-size: 16px;
	font-family: 'ProximaNovaRegular'
}

ul,
ol {
	padding-left: 30px
}

h1 {
	font-size: 42px
}

h2 {
	font-size: 38px
}

h4 {
	font-size: 22px
}

strong {
	font-family: 'ProximaNovaBold';
	font-weight: normal
}

.col-half-offset {
	margin-left: 4.166666667%
}

.table td,
.table th {
	border: none
}

.form-group {
	position: relative
}

.clear {
	clear: both
}

.btn {
	font-size: 20px;
	padding: 15px 65px;
	cursor: pointer
}

.btn:after {
	content: '';
	display: inline-block;
	width: 25px;
	height: 17px;
	background: url("//assets.lifeinsurancecomparison.com.au/lic/images/left-icon.png") no-repeat;
	position: relative;
	margin: 0 0 0 10px;
	top: 2px
}

.main-bg,
.gradient-overlay {
	background: linear-gradient(140deg, #75a245 0%, #71a145 50%, #538842 75%)
}

.main-bg2 {
	background: linear-gradient(140deg, #75a245 0%, #71a145 50%, #72a649 75%)
}

.gradient-overlay {
	padding: 40px 0;
	color: #fff
}

.btn2 {
	font-size: 15px;
	padding: 10px;
	width: 180px;
	text-align: center;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px
}

.color1 {
	background-color: #f39c12;
	border-bottom: 4px solid #e19011;
	color: #fff;
	font-family: 'ProximaNovaBold'
}

.color1:hover {
	background-color: #e19011;
	color: #fff
}

.default-line {
	border: 6px solid #f39c12;
	width: 95px;
	float: left;
	margin: 0 0 15px 0;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px
}

.sub-title {
	font-size: 19px
}

.mobile {
	display: none
}

section h2 {
	color: #69a646
}

header {
	position: relative;
	width: 100%;
	padding: 0;
	border: none
}

header .container {
	position: static;
	padding: 0
}

#top-bg {
	background-color: #538842;
	height: 260px;
	width: 100%;
	position: absolute;
	top: 0
}

#top-menu,
.top-menu-list,
#logo {
	float: left
}

#logo {
	padding: 10px 0;
	margin: 0
}

#side-right,
.header-help-center,
.header-call-text {
	float: right
}

.header-help-center {
	padding: 10px 0;
	margin-top: 2px
}

.navbar {
	padding: 0;
	display: block
}

.top-menu-list {
	padding: 0;
	margin: 0
}

.top-menu-list li {
	display: inline-block;
	margin-right: 35px
}

.top-menu-list li a {
	display: inline-block;
	font-size: 14px;
	font-family: 'ProximaNovaBold';
	color: #373737;
	position: relative;
	padding: 25px 0 25px
}

.top-menu-list li a:hover {
	color: #73af47
}

.top-menu-list li .all-btn {
	border: 2px solid #fff;
	color: #fff;
	padding: 5px 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	margin-top: -5px;
	font-size: 15px
}

.top-menu-list li .all-btn:hover {
	background-color: #f39c12;
	border-color: #f39c12;
	color: #fff
}

#toggle {
	display: none;
	width: 28px;
	height: 35px;
	margin: 0 auto;
	position: absolute;
	top: 25px;
	right: 100px;
	padding-top: 10px
}

#toggle span {
	position: relative
}

#toggle span:after {
	top: 9px
}

#toggle span:before {
	top: -9px
}

#toggle span,
#toggle span:before,
#toggle span:after {
	display: block;
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #888;
	-webkit-transition: all .3s ease-in-out 200ms;
	-moz-transition: all .3s ease-in-out 200ms;
	-ms-transition: all .3s ease-in-out 200ms;
	-o-transition: all .3s ease-in-out 200ms;
	transition: all .3s ease-in-out 200ms;
	backface-visibility: hidden;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px
}

#toggle.on span {
	background-color: transparent
}

#toggle.on span:before {
	transform: rotate(45deg) translate(5px, 5px)
}

#toggle.on span:after {
	transform: rotate(-45deg) translate(7px, -8px)
}

#toggle.on+#side-right {
	opacity: 1;
	visibility: visible
}

#side-right {
	position: static;
	margin: auto;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

#side-right:after {
	position: absolute;
	top: -15px;
	left: 95px;
	content: "";
	display: block
}

.header-call-icon {
	display: inline-block;
	background-color: #73af47;
	color: #fff;
	height: 27px;
	width: 27px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	font-size: 16px;
	padding-top: 3px;
	margin: 10px 10px 0 5px
}

.header-call-text {
	text-align: left
}

.header-call-text p {
	font-size: 22px;
	line-height: 22px;
	margin: 0;
	color: #373737
}

.header-call-text p span {
	color: #f39c12;
	font-size: 9px;
	display: block;
	font-family: 'ProximaNovaSimibold';
	line-height: 22px
}

.dropdown {
	position: static
}

.dropdown-menu {
	top: 100%;
	width: 100%;
	border: none;
	padding: 30px 0;
	border-top: 2px solid #74a449;
	background-color: #575757
}

.dropdown-menu p {
	color: #fff;
	margin-bottom: 5px
}

.dropdown-menu p>img,
.mega-menu-list img {
	margin-right: 10px
}

.open-dropdown .link-dropdown:after {
	font-size: 0;
	line-height: 0%;
	width: 0;
	border-bottom: 15px solid #74a449;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	content: "";
	display: block;
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	margin: 0 auto
}

.open-dropdown .link-dropdown {
	color: #74a449;
	text-decoration: none
}

.mega-menu-list {
	padding: 0
}

.mega-menu-list li {
	display: block;
	padding: 15px 0;
	margin: 0;
	position: relative;
	border: none
}

.mega-menu-list li .color1:hover {
	color: #fff
}

.mega-menu-list li a {
	padding: 0
}

.mega-menu-list li .btn2 {
	padding: 10px
}

.dropdown-arrow-list li {
	padding-left: 15px
}

.dropdown-arrow-list li:before,
.sidebar-archive-list li:before {
	font-size: 0;
	line-height: 0%;
	width: 0;
	content: "";
	display: block;
	border-top: 4px solid transparent;
	border-left: 8px solid #73af47;
	border-bottom: 4px solid transparent;
	position: absolute;
	left: 0;
	top: 20px
}

.mega-menu-list2.dropdown-arrow-list li:before {
	top: 14px
}

.mega-menu-list2.dropdown-arrow-list li {
	padding: 5px 0 0 15px
}

.mega-menu-list li a {
	color: #fff;
	font-size: 16px
}

.mega-menu-list2 li a {
	font-size: 13px;
	font-family: 'ProximaNovaRegular'
}

.mega-menu-list2 li megamenu-request-call {
	font-size: 12px;
	font-weight: normal
}

.mega-last li {
	text-align: center
}

.mega-last li:first-child {
	padding: 10px 0 5px
}

.mega-last li:last-child {
	padding: 0
}

@media screen and (max-width:1200px) {
	.top-menu-list li {
		margin-right: 15px
	}
}

@media screen and (max-width:990px) {
	header {
		padding: 10px 0
	}
	#toggle {
		display: block
	}
	#footer-menu {
		padding: 0
	}
	#footer-menu ul {
		padding: 0 5px 0 0
	}
	#side-right {
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity;
		-moz-transition: opacity;
		-ms-transition: opacity;
		-o-transition: opacity;
		transition: opacity;
		position: absolute;
		z-index: 1000;
		width: 100%;
		left: 0;
		right: 0;
		padding: 0 40px 0 40px;
		text-align: left;
		background: #fff;
		-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
		-ms-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
		-o-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
		box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05)
	}
	.header-help-center {
		padding: 15px
	}
	.top-menu-list li {
		display: block;
		border-bottom: 1px solid #e2e2e2;
		margin-right: 0
	}
	.top-menu-list li a {
		display: block;
		padding: 15px
	}
	.top-menu-list li a:hover {
		color: #f39c12
	}
	.top-menu-list li .btn2 {
		padding: 10px;
		width: 100%;
		margin-top: 15px
	}
	.top-menu-list li .all-btn {
		padding: 10px 20px;
		margin-top: 20px
	}
	.top-menu-list .all-btn-wrap {
		border: none
	}
	.header-help-center,
	.top-menu-list {
		float: none
	}
	.dropdown-menu {
		position: relative;
		top: 0;
		margin-bottom: 15px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		padding: 0 0 15px
	}
	.dropdown-menu .container {
		width: 100%;
		padding: 0 20px
	}
	.dropdown-menu p {
		margin-top: 20px
	}
	.mega-menu-list li {
		padding: 0
	}
	.mega-menu-list2.arrow-list li::before {
		top: 25px
	}
	.mega-last li {
		text-align: left
	}
	#logo,
	#top-menu,
	#side-right {
		float: none
	}
	.header-help-center,
	.call-text {
		float: left
	}
	.navbar-toggleable-md {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 1000
	}
	#top-menu {
		margin-top: 65px;
		background-color: #fff;
		padding: 20px
	}
	#top-menu:before,
	#top-menu:after {
		display: table;
		content: ""
	}
	#top-menu:after {
		clear: both
	}
	.mega-menu-list.mega-last li {
		border: none
	}
	.mega-menu-list2.dropdown-arrow-list li::before {
		top: 24px
	}
	.open-dropdown .link-dropdown:after {
		border: none
	}
}

@media screen and (max-width:580px) {
	header .container {
		padding: 0 15px
	}
	#side-right {
		padding: 0
	}
	#toggle {
		right: 20px
	}
}

#banner {
	background-color: #538842;
	padding: 50px;
	color: #fff;
	position: relative
}

#banner h1 {
	margin-bottom: 15px
}

#banner p {
	font-size: 19px
}

#banner .postcode-input,
#banner .btn {
	display: block;
	width: 100%
}

#banner .postcode-input {
	font-size: 18px;
	color: #313131;
	padding: 20px 20px 20px 50px;
	margin-bottom: 20px;
	height: auto;
	background: url("//assets.lifeinsurancecomparison.com.au/lic/images/map-pointer.png") #fff no-repeat;
	background-position: 4% center
}

.mac-img {
	margin-top: 60px
}

.input-tooltip {
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 10px
}

.slider-arrow-down {
	text-align: center;
	margin-top: 10px
}

@media screen and (max-width:580px) {
	#banner {
		padding: 20px
	}
	#banner .postcode-input {
		font-size: 15px;
		padding: 15px 20px 15px 35px
	}
	.mac-img {
		margin: 20px 0 20px
	}
}

#lenders {
	padding: 20px 0;
	border-bottom: 1px solid #eaebea
}

.slick-slide {
	margin: 0 21px;
	vertical-align: middle
}

.slick-slide img {
	margin: 0 auto;
	display: block;
	max-width: 100%;
	height: auto
}

#used-insurance,
#protection-insurance,
#life-insurance {
	padding: 60px 0
}

#service {
	padding-top: 60px
}

#service h2 {
	color: #73af47
}

.service-widgets {
	margin: 40px 0
}

.service-box {
	padding: 30px 20px 20px;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	color: #707070;
	min-height: 280px
}

.service-box strong {
	display: block;
	margin: 15px 0 5px;
	font-size: 17px
}

.service-box p {
	font-size: 15px
}

.service-widgets .col-lg-3:last-child .service-box strong {
	margin-top: 25px
}

#rating-box-section {
	padding-bottom: 60px
}

.rating-box {
	background: url("//assets.lifeinsurancecomparison.com.au/lic/images/geometry-bg.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 40px 40px 40px 10px;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.rating-box .carousel-caption {
	position: relative;
	right: 0;
	left: 0;
	bottom: 0;
	color: #6d6d6d;
	text-align: left;
	text-shadow: none
}

.rating-box p {
	font-size: 16px
}

.rating-box h2 {
	font-size: 78px;
	font-family: 'ProximaNovaLight';
	color: #606060
}

.rating-box h2 span {
	font-size: 35px;
	vertical-align: top;
	margin-top: 10px;
	display: inline-block;
	margin-left: -15px
}

.rating-box .carousel-indicators {
	margin: 0;
	bottom: 10px
}

.rating-box .carousel-indicators .active {
	background-color: #73af47
}

.rating-box .carousel-indicators li {
	height: 10px;
	max-width: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #ccc
}

.rate-name {
	font-size: 20px;
	font-family: 'ProximaNovaBold'
}

.star-rate i {
	color: #efce4a;
	font-size: 24px
}

.our-rating-holder {
	padding-right: 30px
}

.our-rating {
	border-right: 1px solid #ddd
}

#compare-insurance,
#benefits-insurance,
#protection-insurance {
	background-color: #f9f9f9
}

.compare-box {
	padding: 50px 0 50px 50px
}

.compare-box2 {
	padding: 80px 60px 80px 0
}

#compare-insurance p {
	margin: 25px 0
}

.powered-list {
	padding: 0;
	margin-bottom: 10px
}

.powered-list li {
	display: block;
	font-size: 14px;
	position: relative;
	padding: 0 40px;
	margin-bottom: 15px
}

.powered-list .check-icon {
	display: inline-block
}

.powered-list li:before {
	content: '';
	position: absolute;
	width: 30px;
	height: 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	left: 0;
	top: 0;
	background: url("//assets.lifeinsurancecomparison.com.au/lic/images/check.png") no-repeat right center
}

#used-insurance .col-md-2 {
	padding: 30px
}

.used-icons {
	border: 1px solid #ebebeb;
	height: 120px;
	width: 120px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	position: relative;
	margin: 0 auto 20px
}

.used-icons img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	display: block
}

.protection-box {
	background-color: #fff;
	padding: 60px 50px 40px;
	position: relative;
	-webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
	min-height: 300px
}

.protection-box img {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: -50px
}

.protection-box p {
	margin: 0
}

.protection-box h5 {
	font-size: 18px
}

.protection-box-holder {
	margin-top: 80px;
	margin: 80px 0 40px
}

.protection-box-wrap,
.protection-box-wrap:hover {
	color: #373737
}

.protection-box-wrap:hover div {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}

#life-insurance img {
	position: absolute;
	right: 0;
	bottom: -60px
}

#life-insurance p {
	margin: 40px 0 40px
}

#life-insurance li {
	font-weight: 600
}

#testimonial-insurance {
	padding: 40px 0 80px;
	background: url("//assets.lifeinsurancecomparison.com.au/lic/images/testimonial-bg.jpg") no-repeat;
	background-size: cover
}

#testimonial-insurance .carousel-caption {
	position: relative;
	right: 0;
	left: 0;
	bottom: 0;
	color: #6d6d6d;
	text-align: left;
	text-shadow: none
}

#testimonial-insurance .carousel-item {
	background: #fff;
	padding: 15px 40px 0
}

#testimonial-insurance .carousel-inner {
	width: 90%;
	margin: 30px auto 0;
	-webkit-box-shadow: 0 5px 15px 5px rgba(16, 16, 16, 0.1);
	-moz-box-shadow: 0 5px 15px 5px rgba(16, 16, 16, 0.1);
	-ms-box-shadow: 0 5px 15px 5px rgba(16, 16, 16, 0.1);
	-o-box-shadow: 0 5px 15px 5px rgba(16, 16, 16, 0.1);
	box-shadow: 0 5px 15px 5px rgba(16, 16, 16, 0.1)
}

#testimonial-insurance .carousel-control-next-icon,
#testimonial-insurance .carousel-control-prev-icon {
	width: 35px;
	height: 35px
}

#testimonial-insurance .carousel-control-next,
#testimonial-insurance .carousel-control-prev {
	width: 5%;
	opacity: 1
}

#testimonial-insurance .carousel-control-prev-icon {
	background-image: url("//assets.lifeinsurancecomparison.com.au/lic/images/prev-icon.png")
}

#testimonial-insurance .carousel-control-next-icon {
	background-image: url("//assets.lifeinsurancecomparison.com.au/lic/images/next-icon.png")
}

#testimonial-insurance .carousel-indicators li {
	height: 10px;
	max-width: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #ccc
}

#testimonial-insurance .carousel-indicators .active {
	background: #69a646
}

#testimonial-insurance .carousel-indicators {
	margin: 0;
	bottom: -40px
}

#testimonial-insurance .rate-name {
	font-size: 18px;
	color: #f39c12;
	text-align: right;
	margin: 0
}

.review-slider .slick-dots {
	list-style: none;
	padding: 0;
	margin: 0 -40px;
	text-align: right
}

.review-slider .slick-dots li {
	display: inline-block;
	margin: 0 3px;
	width: 9px;
	height: 9px
}

.review-slider .slick-dots li.slick-active button {
	background: #69a646;
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-o-transform: scale(1.4);
	-ms-transform: scale(1.4);
	transform: scale(1.4)
}

.review-slider .slick-dots button {
	display: block;
	overflow: hidden;
	padding: 0;
	width: 9px;
	height: 9px;
	text-indent: 999px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	-ms-border-radius: 500px;
	-o-border-radius: 500px;
	border-radius: 500px;
	background-color: #ccc;
	border: 0;
	outline: 0;
	line-height: 1;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	-webkit-transition: all;
	-moz-transition: all;
	-ms-transition: all;
	-o-transition: all;
	transition: all
}

.review-slider .slick-arrow {
	display: none !important
}

.review-slider .slick-slide {
	margin: 0
}

.review-slider.slick-dotted.slick-slider {
	margin: 20px 0;
	text-align: left
}

.product-review-slider {
	padding: 0 55px;
	margin: 40px 0 0
}

.product-review-slider .slick-arrow {
	width: 35px;
	height: 35px;
	overflow: hidden;
	text-indent: 999px;
	background-image: url("//assets.lifeinsurancecomparison.com.au/lic/images/prev-icon.png");
	position: absolute;
	top: 65%;
	left: 20px;
	margin: -22px 0 0;
	border: 0;
	outline: 0;
	background-size: contain
}

.product-review-slider .slick-slide {
	background: #fff;
	padding: 40px
}

.product-review-slider .slick-arrow.slick-next {
	background-image: url("//assets.lifeinsurancecomparison.com.au/lic/images/next-icon.png");
	left: auto;
	right: 20px
}

.product-review-slider .slick-next:before,
.product-review-slider .slick-prev:before {
	background: none
}

.product-review-slider .slick-arrow.slick-next:hover,
.product-review-slider .slick-arrow.slick-next:focus {
	background-size: contain
}

.product-review-slider .slick-arrow.slick-prev:hover,
.product-review-slider .slick-arrow.slick-prev:focus {
	background: url("//assets.lifeinsurancecomparison.com.au/lic/images/prev-icon.png");
	background-size: contain
}

.product-review-slider .slick-dots {
	position: absolute;
	top: auto;
	left: 0;
	bottom: -40px;
	width: 100%;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0
}

.product-review-slider .slick-dots li {
	display: inline-block;
	padding: 0 4px;
	width: 8px;
	height: 8px
}

.product-review-slider .slick-dots li.slick-active button {
	background: #69a646
}

.product-review-slider .slick-dots button {
	display: block;
	width: 8px;
	height: 8px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	-ms-border-radius: 500px;
	-o-border-radius: 500px;
	border-radius: 500px;
	overflow: hidden;
	text-indent: 999px;
	border: 0;
	outline: 0;
	background: #cbd6d4;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-webkit-transition: all;
	-moz-transition: all;
	-ms-transition: all;
	-o-transition: all;
	transition: all
}

.product-review-slider p {
	text-align: left
}

#blog-insurance {
	padding: 40px 0;
	clear: both
}

#blog-box {
	margin: 40px 0
}

#blog-box img {
	width: 100%
}

#blog-box a:hover .v4-blog-panel:before {
	background: rgba(243, 147, 47, 0.2)
}

.home-blog-content-post {
	padding: 100px 25px 35px 25px;
	color: #fff;
	text-align: left
}

.home-blog-post-date {
	font-weight: bold;
	font-size: 14px
}

.home-blog-post-content {
	background-color: #fff;
	padding: 20px;
	border-top: 3px solid #96ca4b;
	position: relative
}

.home-blog-post-content p {
	color: #424242;
	font-size: 14px;
	font-weight: 600
}

.home-blog-post-content .advice-text {
	color: #848484;
	margin-bottom: 10px
}

.home-blog-post-content:after {
	font-size: 0;
	line-height: 0%;
	width: 0;
	border-top: 20px solid #fff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
	display: block;
	position: absolute;
	bottom: -10px;
	left: 30px
}

.full-blog-sec {
	margin-top: 25px
}

#featured-bg-1 {
	height: 100%;
	position: relative
}

#featured-bg-1 .home-blog-content-post {
	position: absolute;
	bottom: 0;
	width: 100%
}

#featured-bg-2 {
	margin-bottom: 5px
}

#featured-bg-4 .home-blog-post-content {
	width: 44%
}

.v4-blog-panel,
.home-blog-post-date {
	position: relative
}

.v4-blog-panel:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.1)
}

.age-options-container ul {
	padding: 0
}

.age-options-container ul li {
	display: inline-block
}

#policies-insurance {
	padding: 23px 0;
	background: url("//assets.lifeinsurancecomparison.com.au/lic/images/compare-bg.jpg") no-repeat;
	background-size: cover
}

#policies-insurance h3 {
	font-size: 28px;
	color: #fff;
	margin: 0 40px 0 0;
	display: inline-block;
	vertical-align: middle;
	font-family: 'ProximaNovaBold'
}

#policies-insurance .btn {
	display: inline-block;
	font-size: 15px;
	padding: 10px 40px
}

#inner-page {
	position: relative;
	padding: 100px 0 60px;
	background-color: #fafafa
}

#inner-page .inner-main-title:after,
#inner-page .inner-main-title2:after {
	background: linear-gradient(140deg, #75a245 0%, #71a145 50%, #538842 75%);
	height: 6px;
	display: block;
	content: "";
	margin-top: 15px
}

#inner-page .inner-main-title2:after {
	width: 100px
}

#inner-page .inner-main-title:after {
	width: 170px
}

#inner-page .inner-main-title2 {
	color: #292929;
	margin-bottom: 25px
}

#inner-page h2 {
	font-size: 32px;
	font-family: 'ProximaNovaBold'
}

#inner-content .container {
	background-color: #fff;
	padding: 70px 80px;
	-webkit-box-shadow: 0 0 4px 0 rgba(70, 70, 70, 0.1);
	-moz-box-shadow: 0 0 4px 0 rgba(70, 70, 70, 0.1);
	-ms-box-shadow: 0 0 4px 0 rgba(70, 70, 70, 0.1);
	-o-box-shadow: 0 0 4px 0 rgba(70, 70, 70, 0.1);
	box-shadow: 0 0 4px 0 rgba(70, 70, 70, 0.1)
}

.inner-content-wrap {
	padding-right: 40px
}

.inner-content-wrap .protection-title {
	font-size: 24px;
	font-family: 'ProximaNovaBold'
}

.inner-content-wrap p,
.inner-content-wrap .protection-title {
	margin-bottom: 30px
}

#leadformDetails .btn {
	width: 100%
}

#leadformDetails .form-control {
	font-size: 14px
}

.panel {
	margin-bottom: 30px
}

.panel-title {
	margin: 0
}

.panel-default>.panel-heading {
	padding: 0;
	border: 0;
	background-color: #707070;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0
}

.panel-default>.panel-heading a,
.panel-default>.panel-heading a:active {
	display: block;
	padding: 15px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none
}

.panel-default>.panel-heading a:before {
	background: url("//assets.lifeinsurancecomparison.com.au/lic/images/collapse-icon.png") no-repeat;
	display: block;
	width: 25px;
	height: 25px;
	content: "";
	float: right;
	-webkit-transition: all;
	-moz-transition: all;
	-ms-transition: all;
	-o-transition: all;
	transition: all
}

.panel-body {
	padding: 30px;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-ms-border-radius: 0 0 4px 4px;
	-o-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px
}

.panel-body p {
	margin-bottom: 25px
}

.panel-body h4 {
	color: #71be59;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 25px
}

.panel-body ul {
	padding-left: 20px;
	margin-bottom: 30px
}

.panel-body li {
	display: block;
	margin-bottom: 20px;
	position: relative;
	padding-left: 20px
}

.panel-body span {
	font-family: 'ProximaNovaSimibold'
}

.panel-body li:before {
	left: 0;
	top: 6px;
	background: url("//assets.lifeinsurancecomparison.com.au/lic/images/collapse-check.png") no-repeat right center;
	content: '';
	position: absolute;
	width: 11px;
	height: 9px
}

.collapse.show {
	overflow: hidden
}

.main-blog-post-title {
	color: #292929;
	margin-top: 0
}

.main-blog-post {
	padding: 30px 0;
	border-bottom: 1px solid #e0e0e0
}

.main-blog-meta {
	margin-bottom: 15px
}

.main-blog-excerpt {
	text-align: justify
}

.main-blog-post-date {
	margin-right: 20px
}

.main-blog-post-date:before,
.main-blog-post-author:before {
	display: inline-block;
	content: "";
	height: 20px;
	width: 20px;
	position: relative;
	top: 5px;
	margin-right: 5px
}

.main-blog-post-date:before {
	background: url("//assets.lifeinsurancecomparison.com.au/lic/images/post-calendar-icon.png") no-repeat
}

.main-blog-post-author:before {
	background: url("//assets.lifeinsurancecomparison.com.au/lic/images/post-author-icon.png") no-repeat
}

.main-blog-post .prim-img-float,
.blog-single-post .prim-img-float {
	margin-bottom: 20px;
	width: 100%
}

.main-blog-post a,
.blog-single-post a {
	color: #f39c12
}

.blog-single-post ul {
	margin-bottom: 30px;
	padding-left: 15px
}

.blog-lists-wrapper .media {
	margin: 40px 0 40px -15px
}

.blog-lists-wrapper .media p {
	font-size: 14px
}

.blog-lists-wrapper .media .wp-post-image {
	margin-bottom: 10px
}

.blog-lists-wrapper .media-heading {
	color: #73af47;
	font-size: 20px;
	font-weight: bold
}

.blog-lists-wrapper .btn2 {
	font-size: 15px;
	padding: 7px;
	width: 165px
}

.see-all-guides .media {
	margin-top: 10px
}

.see-all-guides h4 {
	font-weight: bold;
	margin-bottom: 20px
}

#guides_archive_sidebar.archive-list li:before {
	left: -15px
}

.category-wrapper .archive-list li::before {
	border-left: 8px solid #73af47
}

.category-wrapper .archive-list li a:hover {
	color: #73af47
}

.category-wrapper .archive-list li a {
	font-family: 'ProximaNovaBold'
}

.category-wrapper .archive-list .current_page_item a {
	color: #73af47
}

.search-form .search-field {
	border: 1px solid #fff;
	padding: 5px 10px;
	color: #808080;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.search-form .search-submit {
	padding: 5px 10px;
	border: 1px solid #f39c12;
	background: #f39c12
}

.main-blog-post .color1 {
	color: #fff
}

.age-options-container a {
	color: #f39c12;
	display: inline-block;
	position: relative;
	width: 115px;
	padding: 20px 5px 8px;
	margin: 0 10px 30px 0;
	top: -3px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	background: #f3f3f3;
	border: 1px solid #e1e1e1;
	-webkit-box-shadow: 0 3px 0 0 #e8e8e8;
	-webkit-box-shadow: 0 3px 0 0 #e8e8e8;
	-moz-box-shadow: 0 3px 0 0 #e8e8e8;
	-ms-box-shadow: 0 3px 0 0 #e8e8e8;
	-o-box-shadow: 0 3px 0 0 #e8e8e8;
	box-shadow: 0 3px 0 0 #e8e8e8;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	color: #1ec77f;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	-webkit-transition: all;
	-moz-transition: all;
	-ms-transition: all;
	-o-transition: all;
	transition: all;
	font-weight: bold
}

.age-options-container a img {
	display: block;
	margin: 0 auto 5px
}

.v4-pagination {
	list-style: none;
	padding: 0;
	margin: 30px 0 0;
	text-align: center;
	vertical-align: top
}

.v4-pagination li {
	display: inline-block;
	line-height: 33px;
	margin: 0 4px;
	vertical-align: top
}

.v4-pagination li.active a {
	background: #fb9943;
	color: #fff
}

.v4-pagination a,
.v4-pagination .page-numbers {
	display: block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	width: 33px;
	height: 33px;
	text-align: center;
	color: #6d6d6d;
	font-weight: 700;
	position: relative
}

.v4-pagination a {
	border: 1px solid #6eab47
}

.v4-pagination .prev,
.v4-pagination .next {
	background-color: #dedede;
	border: none
}

.v4-pagination a.current,
.v4-pagination .page-numbers.current {
	background: linear-gradient(140deg, #75a245 0%, #71a145 50%, #538842 75%);
	color: #fff
}

.v4-pagination a:hover,
.v4-pagination .page-numbers:hover,
.v4-pagination a:focus,
.v4-pagination .page-numbers:focus {
	background: linear-gradient(140deg, #75a245 0%, #71a145 50%, #538842 75%);
	text-decoration: none;
	color: #fff
}

.v4-pagination a.v4-next:after,
.v4-pagination .page-numbers.v4-next:after,
.v4-pagination a.next:after,
.v4-pagination .page-numbers.next:after {
	content: '';
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #939393;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -3px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	-ms-transition: .5s ease-in-out;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s
}

.v4-pagination a.v4-next:hover:after,
.v4-pagination .page-numbers.v4-next:hover:after,
.v4-pagination a.next:hover:after,
.v4-pagination .page-numbers.next:hover:after,
.v4-pagination a.v4-next:focus:after,
.v4-pagination .page-numbers.v4-next:focus:after,
.v4-pagination a.next:focus:after,
.v4-pagination .page-numbers.next:focus:after {
	border-left-color: #fff
}

.v4-pagination a.v4-prev:after,
.v4-pagination .page-numbers.v4-prev:after,
.v4-pagination a.prev:after,
.v4-pagination .page-numbers.prev:after {
	content: '';
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #939393;
	display: block;
	position: absolute;
	top: 50%;
	left: auto;
	right: 50%;
	margin: -7px -2px 0 0;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	-ms-transition: .5s ease-in-out;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s
}

.v4-pagination a.v4-prev:hover:after,
.v4-pagination .page-numbers.v4-prev:hover:after,
.v4-pagination a.prev:hover:after,
.v4-pagination .page-numbers.prev:hover:after,
.v4-pagination a.v4-prev:focus:after,
.v4-pagination .page-numbers.v4-prev:focus:after,
.v4-pagination a.prev:focus:after,
.v4-pagination .page-numbers.prev:focus:after {
	border-right-color: #fff
}

.v4-pagination .page-numbers.dots {
	background: none;
	border: none;
	color: #6d6d6d;
	display: inline;
	font-weight: normal
}

.company-box {
	padding: 15px;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	position: relative;
	min-height: 200px;
	margin-bottom: 20px
}

.company-box .company-check-icon {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px
}

.company-box p {
	font-size: 14px;
	margin: 0
}

.company-box img {
	margin: 10px 0 20px
}

.company-box-link,
.company-box-link:hover {
	color: #474747;
	display: block
}

.company-box-link:hover {
	background: #f2f2f2
}

@media screen and (max-width:1200px) {
	.compare-box2 {
		padding: 50px 0 50px 0
	}
	.protection-box {
		padding: 60px 20px 40px
	}
}

@media screen and (max-width:1024px) {
	.protection-box {
		padding: 60px 40px 40px;
		min-height: 340px
	}
}

@media screen and (max-width:990px) {
	.home-blog-post-content {
		padding: 10px
	}
	.home-blog-content-post {
		padding: 10px
	}
	.home-blog-post-content p {
		font-size: 12px
	}
	.our-rating {
		border: none
	}
	.rating-box {
		padding: 20px
	}
	.protection-box {
		margin-bottom: 80px;
		min-height: auto
	}
	.protection-box-holder {
		margin-bottom: 0
	}
	#life-insurance {
		padding-bottom: 0
	}
	#life-insurance img {
		position: relative;
		bottom: 0;
		margin: 40px auto 0;
		display: block
	}
	#policies-insurance h3 {
		margin: 0 0 20px 0
	}
	.inner-content-wrap {
		padding: 0
	}
	.mobile {
		display: block
	}
	.desktop {
		display: none
	}
	.company-box {
		min-height: 200px
	}
	.company-box .company-check-icon {
		top: 20px
	}
}

@media screen and (max-width:768px) {
	.service-box {
		margin-bottom: 40px
	}
	.our-rating-holder {
		padding: 0
	}
	.protection-box {
		min-height: auto;
		margin-bottom: 100px
	}
	.protection-box.nm-m {
		margin-bottom: 50px
	}
	.compare-box,
	.compare-box2 {
		padding: 50px
	}
	#testimonial-insurance .carousel-control-next-icon,
	#testimonial-insurance .carousel-control-prev-icon {
		height: 25px
	}
	.carousel-control-prev {
		left: -15px
	}
	.carousel-control-next {
		right: -15px
	}
	#featured-bg-4 .home-blog-post-content {
		width: 100%
	}
}

@media screen and (max-width:767px) {
	.home-blog-post-content p {
		font-size: 14px
	}
	#featured-bg-1 {
		height: auto
	}
	#featured-bg-1 .home-blog-content-post {
		position: relative
	}
	.home-blog-content-post {
		padding: 40px 20px 20px;
		margin-bottom: 20px
	}
	#blog-insurance .col-md-8.row,
	.full-blog-sec {
		margin: 0
	}
	#blog-insurance .col-md-8.row .col-md-6,
	#blog-insurance .col-md-8.row .col-md-12 {
		padding: 0
	}
}

@media screen and (max-width:580px) {
	#testimonial-insurance .carousel-control-next,
	#testimonial-insurance .carousel-control-prev {
		width: 10%
	}
	#testimonial-insurance .carousel-inner {
		width: 75%
	}
	#testimonial-insurance .carousel-control-next-icon,
	#testimonial-insurance .carousel-control-prev-icon {
		height: 32px
	}
	#testimonial-insurance .carousel-inner {
		overflow: auto
	}
	#testimonial-insurance .carousel-item {
		padding: 15px 20px 0
	}
	#lenders .container {
		padding: 0 45px
	}
	#policies-insurance h3 {
		margin: 0 0 20px 0
	}
	.carousel-control-prev {
		left: -10px
	}
	.carousel-control-next {
		right: -10px
	}
	.rating-box {
		margin-bottom: 20px
	}
	.rating-box .carousel-inner {
		width: 100%
	}
	.rating-box .carousel-caption {
		text-align: center;
		text-shadow: none
	}
	#inner-content {
		padding: 0 20px
	}
	#inner-content .container {
		padding: 40px
	}
	#inner-content .col-md-12 {
		padding: 0
	}
	#inner-page h2 {
		font-size: 28px
	}
	#why-insurance,
	.service-box.last,
	.top-menu-list li {
		margin: 0
	}
	#service,
	#used-insurance,
	#protection-insurance {
		padding: 20px 0
	}
	#life-insurance {
		padding: 20px 0 0
	}
	.protection-box.nm-m {
		margin-bottom: 40px
	}
	.protection-box {
		padding: 60px 20px 20px;
		margin-bottom: 80px
	}
	.compare-box,
	.compare-box2 {
		padding: 40px 20px
	}
	.inner-content-wrap .protection-title {
		font-size: 20px
	}
	.slick-slide {
		margin: 0 15px
	}
	.slick-prev {
		left: -30px
	}
	.slick-next {
		right: -25px
	}
	.panel-heading a {
		font-size: 17px
	}
	#pagination li {
		margin: 0
	}
	.product-review-slider {
		padding: 0
	}
	.product-review-slider .slick-arrow {
		display: none !important
	}
}

@media screen and (max-width:380px) {
	#main-blog-pagination li {
		margin: 0
	}
	.panel-body ul {
		padding: 0
	}
}

#scoreboard-section {
	background-color: #f2f3f9;
	padding: 50px 0;
	color: #212121
}

#scoreboard-section h3 {
	font-size: 21px;
	font-weight: bold
}

.scoreboard-content {
	background-color: #fff;
	padding: 30px;
	-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px
}

.score-box {
	border-top: 4px solid #69bb90;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 20px
}

.score-box .score-table thead td {
	font-size: 10px;
	text-align: right
}

.score-box .score-table td {
	font-size: 12px;
	padding: 5px 8px;
	vertical-align: middle
}

.score-box .score-table .score-medium-num {
	font-size: 24px;
	text-align: center;
	color: #ff476b;
	font-weight: bold
}

.score-box .score-table .score-grey-box {
	background-color: #f5f5f5
}

.score-box .score-table .score-darkgrey-box {
	background-color: #efefef
}

.score-box.high {
	margin-top: 60px
}

.high-score-box {
	text-align: center;
	padding: 10px 5px;
	margin: 0
}

.high-score-box p {
	font-size: 10px;
	margin-bottom: 5px
}

.high-score-box .h-line {
	width: 6px;
	height: 2px;
	background-color: #6ba847;
	display: inline-block;
	vertical-align: middle
}

.pink-text {
	color: #ff476b
}

.green-text {
	color: #59cd90
}

.borderRight {
	border-right: 1px solid #e9e9e9
}

.score-list-box.score-listgrid {
	max-width: 100%;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%
}

.click-today,
.click-last-day {
	padding: 6px 8px
}

.click-today.active,
.click-last-day.active {
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	border: 1px solid #ededed
}

.score-today-wrap {
	text-align: right;
	margin-bottom: 35px
}

.score-today-wrap a,
.score-today-wrap i {
	color: #939393
}

.view-days .score-box {
	text-align: center;
	min-height: 150px;
	position: relative;
	margin-bottom: 30px
}

.view-days p {
	font-size: 12px
}

.view-days h2 {
	font-weight: bold;
	font-size: 42px;
	position: absolute;
	left: 0;
	right: 0;
	top: 40%
}

.view-days .small-title {
	font-size: 24px
}

.view-days .small-btm-text {
	font-size: 8px;
	padding-top: 8px
}

.view-days h3 {
	color: #435e6d
}

.grid-btm-text {
	border-top: 1px solid #cdcdcd;
	font-size: 10px;
	color: #989898;
	padding-top: 5px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px;
	width: 90%;
	margin: 0 auto
}

.percircle.gt50 .slice,
.rect-auto {
	clip: rect(auto, auto, auto, auto)
}

.gt50 .fill,
.percircle .bar,
.pie {
	position: absolute;
	border: .098em solid #fff;
	width: .8em;
	height: .8em;
	clip: rect(0, .5em, 1em, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: rotate(0);
	transform: rotate(0)
}

.bar {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.gt50 .bar:after,
.gt50 .fill,
.pie-fill {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.percircle *,
.percircle:after,
.percircle:before {
	box-sizing: content-box
}

.percircle.animate:after,
.percircle.animate>span {
	-webkit-transition: -webkit-transform .2s ease-in-out;
	-webkit-transition: transform;
	-moz-transition: transform;
	-ms-transition: transform;
	-o-transition: transform;
	transition: transform
}

.percircle {
	position: relative;
	font-size: 52px;
	width: 1em;
	height: 1em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
	background-color: #fcc16a
}

.percircle .animate .bar {
	-webkit-transition: -webkit-transform .6s ease-in-out;
	-webkit-transition: transform;
	-moz-transition: transform;
	-ms-transition: transform;
	-o-transition: transform;
	transition: transform
}

.percircle span {
	position: absolute;
	z-index: 1;
	font-weight: bold;
	width: 100%;
	top: 50%;
	height: 1em;
	margin-top: -8px;
	font-size: 12px;
	color: #ff476b;
	display: block;
	text-align: center;
	white-space: nowrap;
	-webkit-transform: scale(1.3);
	transform: scale(1.3)
}

.percircle .slice {
	position: absolute;
	width: 1em;
	height: 1em;
	clip: rect(0, 1em, 1em, .5em)
}

.percircle .center {
	float: none;
	margin: 0 auto
}

.percircle:after {
	position: absolute;
	top: .06em;
	left: .06em;
	display: block;
	content: " ";
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background-color: #fff;
	width: .88em;
	height: .88em;
	-webkit-transform: scale(.92);
	transform: scale(.92)
}

.circle-skill {
	margin-top: 10px
}

.supercal {
	width: 100%
}

.supercal .supercal-header {
	display: block;
	line-height: 30px;
	margin-bottom: 18px;
	text-align: center;
	position: relative;
	padding: 0 10px
}

.supercal .supercal-header .prev-month {
	float: left
}

.supercal .supercal-header .next-month {
	float: right
}

.supercal .supercal-header .btn {
	padding: 0;
	background: none;
	color: #9da3a7
}

.supercal .supercal-header .btn:after {
	margin: 0;
	background: none;
	width: auto;
	height: auto
}

.supercal .supercal-header .month div {
	font-size: 15px
}

.supercal table {
	table-layout: fixed;
	background: #fff;
	margin-bottom: 40px
}

.supercal table th {
	padding: 15px 5px;
	font-size: 13px;
	font-weight: normal
}

.supercal table td {
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	height: 28px;
	padding: 0;
	vertical-align: middle
}

.supercal table td:hover,
.supercal table td.selected {
	background-color: #ff476b;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%
}

.supercal table .month-prev,
.supercal table .month-next {
	color: #bbbec1
}

.supercal-month {
	position: relative;
	z-index: 0;
	overflow: hidden
}

#score-news {
	padding: 10px 0
}

#score-news .carousel-caption {
	position: relative;
	left: 0
}

#score-news p {
	color: #00ce76;
	text-align: left;
	display: inline-block
}

.news-btn {
	background-color: #00ce76;
	width: 110px;
	color: #fff;
	display: inline-block;
	text-align: center;
	padding: 15px 0;
	margin: 0 20px 5px 0
}

.news-btn:hover {
	background-color: #ff476b
}

@media screen and (max-width:1200px) {
	.high-score-box {
		margin-bottom: 40px
	}
	.borderRight {
		border: none
	}
	.score-box.high {
		margin: 40px 0 0
	}
	.score-today-wrap {
		display: none
	}
	.score-box .score-table thead td {
		text-align: center
	}
	.supercal table td {
		height: 36px
	}
}

@media screen and (max-width:990px) {
	.supercal table td {
		height: 26px
	}
	#score-news p {
		text-align: center;
		margin-bottom: 10px
	}
	.news-btn {
		margin: 0 auto;
		display: block
	}
}

@media screen and (max-width:768px) {
	.score-today-wrap {
		display: none
	}
	.score-today {
		margin-bottom: 40px
	}
	.supercal table td {
		height: 25px
	}
}

@media screen and (max-width:767px) {
	.supercal table td {
		height: 60px
	}
}

@media screen and (max-width:580px) {
	.supercal .supercal-header .btn {
		width: auto
	}
}

@media screen and (max-width:500px) {
	.supercal table td {
		height: 50px
	}
}

@media screen and (max-width:420px) {
	.supercal table td {
		height: 44px
	}
}

@media screen and (max-width:380px) {
	.supercal table td {
		height: 36px
	}
}

@media screen and (max-width:320px) {
	.slick-slide {
		margin: 0 14px
	}
	.supercal table td {
		height: 30px
	}
}

.widget-box {
	padding: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	margin-bottom: 30px
}

.widget-search-box h4 {
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'ProximaNovaSimibold'
}

.widget-search-box input[type="search"] {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	width: 100%;
	border: none;
	padding: 13px 45px 13px 20px;
	color: #737373;
	font-size: 14px;
	position: relative
}

.widget-search-box button {
	border: none;
	height: 30px;
	width: 30px;
	text-align: center;
	color: #fff;
	background-color: #f39c12;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	right: 45px;
	top: 68px
}

.widget-search-box button i {
	font-size: 14px
}

.widget-quote-box h4 {
	font-size: 22px;
	margin-bottom: 25px
}

.widget-quote-box .quote-prefer-text {
	margin-bottom: 8px
}

.widget-quote-box p {
	margin: 0
}

.widget-quote-box input[type="text"],
.widget-quote-box select {
	width: 100%;
	border: none;
	color: #2d2d2d;
	font-size: 14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 15px;
	padding: 15px 30px 15px 35px
}

.widget-quote-box select {
	-moz-appearance: window;
	-webkit-appearance: none
}

.widget-quote-box input[type="submit"] {
	width: 100%;
	font-size: 18px;
	margin-bottom: 15px
}

.widget-quote-box .quote-input-code {
	background: url("//assets.lifeinsurancecomparison.com.au/lic/images/postcode-icon.png") #fff no-repeat;
	background-position: 4% center
}

.widget-quote-box .quote-select-code {
	background-image: url("//assets.lifeinsurancecomparison.com.au/lic/images/man-user-icon.png"), url("//assets.lifeinsurancecomparison.com.au/lic/images/down-icon.png");
	background-repeat: no-repeat, no-repeat;
	background-position: 4% center, right, center
}

select.form-control:not([size]):not([multiple]) {
	height: auto
}

.quote-call-num {
	font-size: 20px;
	font-weight: bold
}

.quote-call-num i {
	display: inline-block;
	height: 25px;
	width: 25px;
	color: #6fab4a;
	background-color: #fff;
	margin-right: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	font-size: 18px;
	padding-top: 3px
}

.quote-prefer-text {
	font-size: 13px
}

.archive-box,
.popular-post-box-link {
	padding: 20px 25px 20px 15px
}

.popular-post-box-link {
	display: flex
}

.popular-post {
	margin-bottom: 30px
}

.popular-post h4,
.archive-post h4 {
	padding-bottom: 20px;
	margin-bottom: 25px;
	border-bottom: 2px solid #e8e8e8;
	color: #73af47;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase
}

.popular-box,
.archive-box {
	border: 1px solid #ebebeb;
	margin-bottom: 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.popular-box .popular-meta {
	margin: 0
}

.popular-box img {
	margin-top: 10px;
	max-width: 55px;
	height: 55px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%
}

.popular-post-box-link:hover {
	background-color: #f2f2f2
}

.popular-img-post {
	display: inline-block;
	margin-right: 20px
}

.popular-meta .popular-post-date {
	font-size: 11px;
	color: #71be59;
	font-weight: bold
}

.popular-single-post-content {
	font-size: 13px;
	line-height: 16px;
	display: block;
	color: #2d2d2d;
	font-weight: bold
}

.archive-list {
	padding-left: 40px
}

.archive-list li {
	display: block;
	position: relative;
	margin-bottom: 15px
}

.archive-list li a {
	font-size: 13px;
	color: #606060
}

.archive-list li>a:hover {
	color: #f4a221
}

.archive-list li:before {
	border-left: 8px solid #f4a221;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	font-size: 0;
	line-height: 0%;
	width: 0;
	content: "";
	display: block;
	position: absolute;
	left: -20px;
	top: 8px
}

.archive-list li:last-child {
	margin: 0
}

.form-control {
	height: auto
}

.form-submit,
.btn-submit {
	width: 100%;
	margin-bottom: 15px;
	font-size: 18px
}

.form-submit:after,
.btn-submit:after {
	background: none;
	width: 0
}

@media screen and (max-width:990px) {
	#sidebar {
		margin-top: 40px
	}
	.widget-quote-box .input-code {
		background-position: 2% center
	}
	.widget-search-box button {
		top: 95px
	}
}

@media screen and (max-width:580px) {
	.main-blog-meta span {
		display: block;
		font-size: 14px
	}
	.widget-quote-box input[type="text"],
	.widget-quote-box select {
		font-size: 11px;
		padding: 10px 10px 10px 35px
	}
	.widget-search-box input[type="text"] {
		padding: 10px 35px 10px 20px;
		font-size: 11px
	}
	.widget-search-box button {
		top: 90px;
		right: 25px
	}
	.widget-quote-box .select-icon {
		top: 8px
	}
}

footer {
	padding: 40px 0
}

footer p {
	font-size: 13px;
	color: #808080;
	margin: 0 0 20px 0
}

#footer-logo {
	margin-bottom: 20px
}

#footer-menu {
	margin-top: 40px;
	padding-left: 40px
}

#footer-menu ul {
	padding: 0
}

#footer-menu li {
	display: block;
	font-size: 13px;
	margin-bottom: 10px
}

#footer-menu li a {
	display: block;
	color: #61a445;
	font-family: 'NunitoSansBold'
}

#footer-menu li a:hover {
	color: #f39c12
}

.social-icons {
	padding: 0;
	margin: 20px 0
}

.social-icons li {
	display: inline-block;
	margin-right: 15px
}

.social-icons a {
	display: block;
	background: #a9a9a9;
	color: #fff;
	height: 34px;
	width: 34px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	padding-top: 8px
}

.social-icons a:hover {
	background-color: #f39c12
}

.social-icons i {
	font-size: 18px
}

@media screen and (max-width:768px) {
	#footer-menu {
		padding: 0 15px
	}
}

@media screen and (max-width:580px) {
	footer {
		padding: 20px 0
	}
	#footer-menu {
		padding-left: 20px
	}
}

@media screen and (max-width:580px) {
	h1 {
		font-size: 34px
	}
	h2 {
		font-size: 28px
	}
	.btn {
		font-size: 15px;
		padding: 10px 0;
		width: 100%
	}
}

.page-template-tpl-companies .row:after,
.page-template-tpl-companies-single .row:after,
.page-template-tpl-companies .row:before,
.page-template-tpl-companies-single .row:before {
	display: none
}